     /* Definir la animación */
     @keyframes slideIn {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* Clase para aplicar la animación */
    .animate-slide-in {
        animation: slideIn 0.3s ease-in-out;
        opacity: 0; /* Asegurar que los elementos sean inicialmente invisibles */
        transform: scale(0.8); /* Estado inicial para la animación */
    }

    .tabla-contenedor {
        max-height: 400px; /* Altura máxima del contenedor */
        overflow-y: auto; /* Habilitar desplazamiento vertical */
        background-color: #ffffff; /* Fondo blanco */
    }

    .tabla-reportes {
        color: #333; /* Color de texto oscuro */
        background-color: #f9f9f9; /* Fondo claro */
    }

    .tabla-reportes th, .tabla-reportes td {
        border: 1px solid #ddd; /* Bordes claros */
        padding: 8px; /* Espaciado dentro de las celdas */
    }

    .tabla-reportes th {
        background-color: #f1f1f1; /* Fondo de la cabecera */
    }