

    .tabla-contenedor {
        max-height: 400px; /* Altura máxima del contenedor */
        overflow-y: auto; /* Habilitar desplazamiento vertical */
        background-color: #ffffff; /* Fondo blanco */
    }

    .tabla-reportes {
        color: #333; /* Color de texto oscuro */
        background-color: #f9f9f9; /* Fondo claro */
    }

    .tabla-reportes th, .tabla-reportes td {
        border: 1px solid #ddd; /* Bordes claros */
        padding: 8px; /* Espaciado dentro de las celdas */
    }

    .tabla-reportes th {
        background-color: #f1f1f1; /* Fondo de la cabecera */
    }